    body {
        font-family: Arial, sans-serif;
        background: #f4f6f8;
        margin: 0;
        padding: 24px;
        color: #1f2937;
    }
    .logo {
        font-size: 20px;
        font-weight: bold;
        color: #111827;
    }
    header {
        border-bottom: 1px solid #e5e7eb;
        padding: 20px 60px;
        padding-top:5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    nav a {
        color: #4b5563;
        text-decoration: none;
        font-size: 15px;
    }

    nav a:hover {
        color: #111827;
    }
    .user-greeting {
        color: #4b5563;
        font-size: 15px;
        font-weight: 500;
    }

    .logout-link {
        color: #dc2626 !important;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }

    .logout-link:hover {
        color: #b91c1c !important;
    }

    h1 {
        margin-bottom: 4px;
    }
    p.subtitle {
        margin-top: 0;
        color: #6b7280;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;
    }
    .card {
        background: #fff;
        border-radius: 10px;
        padding: 16px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
    .card h2 {
        font-size: 16px;
        margin: 0 0 12px 0;
    }
    canvas {
        max-height: 300px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }
    th, td {
        text-align: left;
        padding: 8px 10px;
        border-bottom: 1px solid #e5e7eb;
    }
    th {
        background: #f9fafb;
    }
    .sev-Low { color: #16a34a; font-weight: bold; }
    .sev-Medium { color: #ca8a04; font-weight: bold; }
    .sev-High { color: #ea580c; font-weight: bold; }
    .sev-Critical { color: #dc2626; font-weight: bold; }
    .full-width {
        grid-column: span 2;
    }